.navbar .brand {
  padding: 10px 0 0;
  text-indent: 40px;
  width: 206px;
}

.navbar-search {
  float: right;
}

.navbar .navbar-search .search-query {
  width: 52px;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  -webkit-transition: all 750ms;
  -moz-transition: all 750ms;
  -ms-transition: all 750ms;
  -o-transition: all 750ms;
  transition: all 750ms;
}

.navbar .navbar-search .search-query:focus {
  width: 206px;
  cursor: text;
}

.table-hover.table-href tbody tr:hover {
  cursor: pointer;
}
